DEBUG=debug

DB_NAME=db name
DB_USER=user name
DB_PASSWORD=password  
DB_HOST=localhost
DB_PORT=port number

SECRET_KEY=''

BASE_URL=provide your host name ex. site.com 
SWAGGER_SERVER=provide your server path ex. http://site.com

example for localhost:
BASE_URL=127.0.0.1
SWAGGER_SERVER=http://127.0.0.1:8000/